{% extends "base.html" %}

{% load staticfiles %}

{% block body %}
    <form class="form-signin" role="form" method="post" action=".">

    {% csrf_token %}

        <div class="form-group" >
            <h2 class="form-signin-heading">Password Change</h2>
            <input class="form-control" placeholder="Old password" id="id_old_password" name="old_password" type="password" />
            <input class="form-control" placeholder="New password" id="id_new_password1" name="new_password1" type="password" />
            <input class="form-control" placeholder="New password confirmation" id="id_new_password2" name="new_password2" type="password" />
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>

    </form>
{% endblock %}


