/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */
body {
    /*background: url('http://placehold.it/1920x1080') no-repeat center center fixed;*/
    background-color: #164e82;
    background: url("/static/images/uog.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#holder {
    margin-top: 20%;
    background:rgba(0,0,0,0.3); /*almost transparent box - black colour*/
    font-family: 'Source Sans Pro', sans-serif; /*our font*/
    color: #f2f2f2;
    border-radius: 10px;
}

.internal {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.hormar {
    margin-left: 5%;
    margin-right: 5%;
}

.botmar {
    margin-bottom: 5%;
}


.profile {
    min-height: 300px;
}

.stats {
    padding-left: 24px;
}

/* Just testing various fonts. The default ones are rather boring. */
/* We could use something like: https://www.google.com/fonts */
.welcome_font {
    /* Can change the font here of a welcome message, if needed be */
    color: #f2f2f2;
}

.username {
    color: #080808;
    font-size: 30px;
    font-weight: bold;
}

.user_stats {
    color: black;
    font-size: 20px;
}

.badges {
    color: #080808;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
}

.profile_pic {
    border: 2px solid black;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 10%;
}

/*Set how leaderboard (usernames) appear*/
#survivors_list {
    font-size: 18px;
}

#profile_img {
    width: 180px;
    height: 180px;
}

.navbar a {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.holder {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.font_style {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

/* Collapsible text font and other stuff - innards of the "Where am I" tab */
#collapseOne {
    background: rgba(0,0,0,0.2);
    font-family: 'Source Sans Pro', sans-serif; /*our font*/
    color: #f2f2f2;
}

/* How the topmost part appears ("Where am I?..") */
.panel {
    background:rgba(0,0,0,0.2); /*almost transparent box - black colour*/
}

/* Similar to above, for playing around with tab heading */
#headingOne {
    background:rgba(0,0,0,0.2);
}

/* Title's font, etc. */
.panel-title {
    color: #f2f2f2;
}

/* I think not necessary */
/*#accordion {*/
    /*color: #f2f2f2;*/
/*}*/


/* Button that launches a new window - font colours and so on */
.modal-body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #f2f2f2;
}

/* Background of the new window */
.modal-content {
    background:rgba(0,0,0,0.4);
}

/* Can add this class to buttons, change their transparency and other properties if we wish */
.custom_buttons {
    background: rgba(0,0,0,0.4);
    user-select:none;
    transition-duration: 0.2s;

}

/* What happens when we hover over them */
/* STILL NEEDS TO BE DONE: WHEN CLICKED, IT APPEARS TO BE BLUE, SO NEED TO CHANGE THAT
 not working now wtf*/
.custom_buttons:hover {
    color: rgba(0,0,0.8);
}

.custom_buttons:active {
    background: rgba(0,0,0,0.8);
}

.a_button {
     background: rgba(0,0,0,0.4);
     border: none;
     border-radius: 5px;
}

.a_button:hover {
    background: rgba(0,0,0,0.8);
}

.story_start_button {
     background: rgba(0,0,0,0.4);
     border: rgba(0,0,0,0.4);
     border-radius: 5px;
     border: none;
     padding: 0px 0px;
}

.story_start_button:hover {
    background: rgba(0,0,0,0.8);
}

ul.nav a:hover {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
}