/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */
body {
    /*background: url('http://placehold.it/1920x1080') no-repeat center center fixed;*/
    background-color: #164e82;
    background: url("/static/images/uog.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#holder {
    margin-top: 35%;
    background-color: rgba(220, 220, 220, 1.0);
}

.internal {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.hormar {
    margin-left: 5%;
    margin-right: 5%;
}

.botmar {
    margin-bottom: 5%;
}


.profile {
    min-height: 300px;
}

.stats {
    padding-left: 24px;
}

/* Just testing various fonts. The default ones are rather boring. */
/* We could use something like: https://www.google.com/fonts */
.welcome_font {
    /* Can change the font here of a welcome message, if needed be */
    color: darkred;
}

.username {
    color: #080808;
    font-size: 30px;
    font-weight: bold;
}

.user_stats {
    color: black;
    font-size: 20px;
}

.badges {
    color: #080808;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
}

.profile_pic {
    border: 2px solid black;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 10%;
}

/*Set how leaderboard (usernames) appear*/
#survivors_list {
    font-size: 18px;
}

#profile_img {
    width: 180px;
    height: 180px;
}