{% extends 'base.html' %}

{% load staticfiles %}

<!--Title block can be added (if we want a user's tab to have something specific written-->

{% block body %}
    <h2>Zombies on Campus</h2>
    <div class="about">
        <p>
            Zombies on Campus is a fun, quick choice-based game. It was built as a project for 2016 Internet
            Technology course, taught by <a href="http://www.dcs.gla.ac.uk/~leif/" target="_blank">Leif Azzopardi.</a>
        </p>

        <p>
            The team that built this game:
            <ul>
                <li><a href="https://github.com/kostiskag" target="_blank">Konstantinos Kagiampakis</a></li>
                <li><a href="https://github.com/2165738G" target="_blank">Shallu Gangwani</a></li>
                <li><a href="https://github.com/vilisimo" target="_blank">Simonas Viliunas</a></li>
                <li><a href="https://github.com/laurabzz" target="_blank">Laura Zebrauskaite</a></li>
            </ul>
        </p>

        <p>
            The project was built using a variety of technologies: Django Framework, HTML, CSS, JavaScript, AJAX - with
            a help of a Leif Azzopardi's book <a href="http://www.tangowithdjango.com/">Tango with Django</a>.
        </p>

        <p>
            If you wish to follow the project (why wouldn't you?): <br/><br/>
            <iframe src="https://ghbtns.com/github-btn.html?user=ITLabProject2016&repo=internet_technology_lab_project&type=watch&size=small&v=2" frameborder="0" scrolling="0" width="190px" height="30px"></iframe>
        </p>
    </div>
{% endblock %}