{% extends 'base.html' %}

{% load staticfiles %}}

<!--Title block can be added (if we want a user's tab to have something specific written-->

{% block body %}
    {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}!</h1>
    {% else %}
        <h1>You have not logged in yet.</h1>
    {% endif %}
    <p>Change later to the logic/views needed.</p>
    <br />
    <br />
        <!--The number could be derived in the view itself instead of hardcoding-->
        <!--Didn't want to do it now, I don't know what approach we will take-->
        <a href="/zombies/storytest/1">Play test</a>
{% endblock %}