{% extends 'base.html' %}

{% load staticfiles %}

<!--Title block can be added (if we want a user's tab to have something specific written-->

{% block body %}

    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
    {% else %}
        <p>You have not logged in yet.</p>
    {% endif %}
    <br/>
    <script src="{% static "js/story-load.js" %}"></script>
    <button class="story_button btn btn-lg btn-danger" type="button" value="/zombies/story-point/1/"><span class="glyphicon glyphicon-tower"></span> Play!</button>
    {% if not user.is_authenticated %}
        <a href="/accounts/register/" class="btn btn-lg btn-primary" role="button"><span class="glyphicon glyphicon-user"></span> Register</a>
    {% endif %}

{% endblock %}