{% load staticfiles %}

{% if user.is_authenticated %}
    <p><span class="welcome_font">Welcome back to the campus, {{ user.username }}. <br/>Where will the night take you..?</span>
    </p>
{% else %}
    <p><span class="welcome_font">Welcome to the campus, stranger. Where will the night take you?..</span></p>
{% endif %}
<br/>

<script src="{% static "js/story-load.js" %}"></script>

{% if stories %}

    {% for story in stories %}
        {% if forloop.counter0|divisibleby:2 %}
            <div class="row botmar">
        {% endif %}

    <div class="col-md-6">
        <div class="row">
            <button class="story_start_button btn btn-lg btn-danger" type="button"
                    value="{% url 'story-point' story.id 1 %}">
                <img width=125 height=105 src="{% static story.picture.url %}" class="img-rounded"
                     alt="{{ story.name }}"
                     width="100"/>

            </button>
        </div>
        <div class="row"><span>{{ story.name }}</span></div>
    </div>

    {% if forloop.counter|divisibleby:2 %}
        </div>
    {% endif %}

    {% endfor %}

{% else %}
    <strong>There are no stories present.</strong>
{% endif %}

{% if not user.is_authenticated %}
    <span id="register_line">Not a zombie killer yet? Register <a
            href="{% url 'registration_register' %}">here!</a></span>
{% endif %}
