{% extends 'base.html' %}

{% load staticfiles %}

<!--Title block can be added (if we want a user's tab to have something specific written-->

{% block body %}

    {% if user.is_authenticated %}
        <p><span class="welcome_font">Welcome back to the campus, {{ user.username }}. <br />Where will the night take you..?</span></p>
    {% else %}
        <p><span class="welcome_font">Welcome to the campus, stranger. Where will the night take you?..</span></p>
    {% endif %}
    <br/>

    <script src="{% static "js/story-load.js" %}"></script>

    <table class="table table-hover">
        <tbody>


        {% if stories %}
            {% for story in stories %}
                <tr>
                    <td>
                        <p class="text-justify text-danger">{{ story.name }} </p>
                    </td>
                    <td>
                        <button class="story_start_button btn btn-lg btn-danger" type="button"
                                value="{% url 'story-point' story.id 1 %}">Play!
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
            </table>

        {% else %}
            <strong>There are no stories present.</strong>
        {% endif %}

    {% if not user.is_authenticated %}
        <a href="{% url 'registration_register' %}" class="btn btn-lg btn-primary" role="button"><span
                class="glyphicon glyphicon-user"></span> Register</a>
    {% endif %}

{% endblock %}