{# CHANGE THIS FILE TO CHANGE BOTH PROFILE AND SURVIVOR_PROFILE: #}
{# BOTH SHARE MORE COMMONALITIES THAN THERE ARE DIFFERENCES #}
{% extends 'base.html' %}

{% load staticfiles %}

<!--Title block can be added (if we want a user's tab to have something specific written-->

{% block profile %}

    <div class="col-md-2"></div>
    <div class="col-md-8 jumbotron">

        <div class="row hormar profile">

            <div class="col-md-4 hormar profile">
                <div class="profile_pic">
                    {% block profile_pic %}
                        <img id="profile_img" class="img-circle" src="{% url 'media' "img/profile/tallahassee.jpg" %}" />
                    {% endblock %}
                </div>
                <p><span class="username">{% block uname %}{{ username }}{% endblock %}</span></p>
                <div class="badges">
                    {% block badges %}
                        {% if experience > 99 %}
                            <strong>Badges:</strong><br/>
                            {# Just a random icon. We can put any images we like (preferably small) #}
                            <span class="glyphicon glyphicon-tint"></span> Zombie killer
                        {% endif %}
                    {% endblock %}
                </div>
            </div>

            {% block user_stats %}
                <div class="user_stats">
                    <div class="experience">
                        {% if experience %}
                            {% block exp_text %}
                                <p class="botmar">Your current experience: {{ experience }}</p>
                            {% endblock %}
                        {% else %}
                            {% block no_exp_text %}
                                <p class="botmar">You have no experience yet. Get back in the campus!</p>
                            {% endblock %}
                        {% endif %}
                    </div>

                    <div class="finished_stories">
                        {% if finished_stories %}
                            {% block stories_text %}You have{% endblock %} finished
                            {{ finished_stories }} {% if finished_stories == 1 %}story{% else %}stories{% endif %}.
                        {% else %}
                            {% block no_stories_text %}You have{% endblock %} not finished any stories yet.
                        {% endif %}
                    </div>
                </div>
            {% endblock %}

            {% block additional_info %}
            {% endblock %}
        </div>

    </div>
    <div class="col-md-2"></div>
    </div>

{% endblock %}