{% extends 'base.html' %}

{% load staticfiles %}}

<!--Title block can be added (if we want a user's tab to have something specific written-->

{% block profile %}
    <div class="container">
        <div class="profile row" style="background-color: #985f0d">
            <div class="profile col-sm-4" style="background-color: #1b6d85">
                <p>User's profile</p>
            </div>
        </div>
        <div class="profile col-sm-6"></div>
    </div>
    </div>
{% endblock %}