{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}
    <h3>Story part: description</h3>
    {% if story %}
        <p><i><strong>{{story.description}}</strong></i></p>
    {% else %}
        <p><strong>No description found! Call the police!</strong></p>
    {% endif %}

    {% if choices %}
        <p>What do you do?</p>
        <strong>Choices:</strong>
        {% for choice in choices %}
            <li><a href="{% url 'sp' choice.story_point_id %}">{{choice.choiceText}}</a></li>
        {% endfor %}
    {% else %}
        <p>You have reached the end. Congratulations!</p>
        <a href="/zombies/storytest/1"><strong>Play again!</strong></a>
    {% endif %}


{% endblock%}