{% extends 'base.html' %}
{% load staticfiles %}
{% block profile %}

    <script src="{% static "chartjs/js/Chart.js" %}"></script>

    <script>
        var pieData = [

            {% for piece in pie %}
                {
                    value: {{  piece.value }},
                    color: "{{ piece.color }}",
                    highlight: "{{ piece.highlight }}",
                    label: "{{ piece.label }}"
                },
            {% endfor %}


        ];

        var randomScalingFactor = function () {
            return Math.round(Math.random() * 100)
        };

        var barChartData = {

            labels: [
                    {% for piece in pie %}
                        "{{ piece.label }}",
                     {% endfor %}
            ],


            datasets: [
                {
                    label: "Good Endings",
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",

                     data: [
                       {% for x in story_good_ends %}
                           {{ x }},
                       {% endfor %}
                    ]
                },
                {
                    label: "Bad Endings",
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,0.8)",
                    highlightFill: "rgba(151,187,205,0.75)",
                    highlightStroke: "rgba(151,187,205,1)",

                    data: [
                       {% for x in story_bad_ends %}
                           {{ x }},
                       {% endfor %}
                    ]
                }
            ]
        }

        window.onload = function () {
            var ctx = document.getElementById("bar").getContext("2d");
            window.myBar = new Chart(ctx).Bar(barChartData, {
                responsive: true
            });
            var ctx = document.getElementById("pie").getContext("2d");
            window.myPie = new Chart(ctx).Pie(pieData);
        }
    </script>


    <div class="col-md-3"></div>
    <div id="stats_holder" class="col-md-6 jumbotron">

        <div class="row internal">
            <h2>All you need to know about Zombies.</h2>
        </div>

        <div class="row internal">

            <div class="col-md-5">

                <div class="row">
                    <canvas id="pie" width="200%" height="200%"/>
                </div>
                <div class="row hormar"><br/>
                <p><span class="glyphicon glyphicon-stats"></span> The preference of players among stories.</p>
                </div>

            </div>

            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="sub-heading">
                    <h4><span class="glyphicon glyphicon-tree-deciduous"></span><strong> Stories</strong></h4>
                    {% if trees_count %}
                        <span class="stats">There are {{ trees_count }} available stories to play.</span>
                    {% else %}
                    {% endif %}
                </div>

                <div class="sub-heading">
                    <h4><span class="glyphicon glyphicon-leaf"></span><strong> Story lines</strong></h4>
                    {% if branches_count %}
                        <span class="stats">Currently there are {{ branches_count }} original story
                            lines.</span>
                    {% else %}
                        <span class="stats">Unfortunately, there are no story lines at the
                            moment.</span>
                    {% endif %}
                </div>

                <div class="sub-heading">
                    <h4><span class="glyphicon glyphicon-user"></span><strong> Survivors</strong></h4>
                    {% if players %}
                        <span class="stats">There are {{ players }} registered survivors on the
                            campus.</span>
                    {% else %}
                        <span class="stats">There are no registered survivors on the campus. Be the first
                            one!</span>
                    {% endif %}
                </div>

                <div class="sub-heading">
                    <h4><span class="glyphicon glyphicon-road"></span><strong> Choices</strong></h4>
                    {% if choices %}
                        <span class="stats">Survivors have made {{ choices }} choices.</span>
                    {% else %}
                        <span class="stats">Survivors have not made any choices yet. Be the
                            leader!</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
        <div class="row internal">
            <canvas id="bar" height="30%" width="80%"/>
        </div>
        <div class="row hormar">
            <p><span class="glyphicon glyphicon-stats"></span> The proportion of completed good and bad endings for each story.</p>
        </div>

    </div>
    <div class="col-md-3"></div>


{% endblock %}