{% extends 'base.html' %}

{% load staticfiles %}}

<!--Title block can be added (if we want a user's tab to have something specific written-->

{% block body %}
    <h1>Extends the base.html</h1>
    <p>
        This should lead to the first story page. Description should be shown. <br />
        Once the user picks a choice, should lead to another page (though preferably, <br />
        everything would happen on the same page, without any change in URLs),  <br />
        which would again shown the clicable choices (choice text).
        <br />
        <br />
        Once the end point is reached, either redirect to another page, where stats <br />
        are shown, or show it on the same page.
    </p>
{% endblock %}