{% load staticfiles %}
<script src="{% static "typedjs/js/typed.min.js" %}"></script>
<link href="{% static "typedjs/css/typed.css" %}" rel="stylesheet">

{% if story %}

    <script>

        /*
         typewriter.js
         http://codepen.io/voronianski/pen/aicwk
         */

        function typeWriter(text, n) {
            if (n < (text.length)) {
                $('.type_text').html(text.substring(0, n + 1));
                n++;
                setTimeout(function () {
                    typeWriter(text, n)
                }, 30);
            } else {
                $('.story_options').delay(500).fadeIn(900);
            }
        }

        $(document).ready(function (e) {

            $('.story_options').hide();

            var text = "{{ story.description }}";
            typeWriter(text, 0);

            $("button").click(function () {
                if ($(this).hasClass('home') || $(this).hasClass('story_start_button') || $(this).hasClass('story_button')) {
                    $.get($(this).val(), function (data) {
                        $('#main_content').hide();
                        $('#main_content').html(data); //we need this line to make the connection
                        $('#main_content').fadeIn("slow");
                    });
                }
            });

            $('input[name=choice]').click(function () {
                $('#main_content').fadeOut("slow");
                $.get($(this).val(), function (data) {

                    $('#main_content').html(data); //we need this line to make the connection

                });
                $('#main_content').hide();
                $('#main_content').fadeIn("slow");
            });
        });

    </script>

    <div id="story_content">
        <div id="story_desc">
            <img class="botmar" src="{% static story.picture.url %}"/>

            <div class="box"><span class="type_text"></span></div>
        </div>

        <div id="story_choices" class="story_options botmar">
            {% if choices %}
                <p>What do you do?</p>
                <div class="btn-group-vertical btn-block">
                    {% for choice in choices %}
                        <button type="button" class="story_button btn btn-primary"
                                value="{% url 'story-point' choice.main_story_id choice.story_point_id %}"> {{ choice.choiceText }} </button>
                    {% endfor %}
                </div>
                </div>

                <button type="button" class="story_options btn btn-primary btn-lg custom_buttons" data-toggle="modal"
                        data-target="#myModal">
                    The story so far...
                </button>

                {# Modal's body #}
                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">The story so far...</h4>
                            </div>
                            <div class="modal-body">
                                {% if progression %}
                                    {% for message in progression %}
                                        {{ message }}
                                        <br/>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="the_end">
            {% else %}
                <p>You have reached the end. Congratulations!</p></br>
                <button class="story_start_button btn btn-lg btn-danger" type="button"
                        value="{% url 'story-point' story.main_story_id 1 %}">Play the story again
                </button>
                <button class="home btn btn-lg btn-danger" type="button"
                        value="{% url 'index-min' %}">Play another story
                </button></br>
            {% endif %}
            </div>
    </div>
{% else %}
    <p><strong>No description found! Call the police!</strong></p>
{% endif %}