<div id="story_content">

    <div id="storyImagePrev">
        here we may have a small image to make the story interesting
    </div>

    <div id="storyDesc">
        <p>{{ description }}</p>
    </div>

    <div id="storyChoices">
        <form>
            <input type="radio" name="choice" value="1" checked> haha first choice</br>
            <input type="radio" name="choice" value="2"> haha second choice</br>
            <input type="radio" name="choice" value="3"> haha third choice</br>
            <input type="radio" name="choice" value="4"> haha last choice
        </form>
    </div>

    <button id="trigger" type="button">Click me!</button>

</div>
