{# If changes to names in the views are made, we can use blocks from profile.html. List of useful blocks: #}
{# username; profile_pic; badges; badges_text; user_stats; additional_info #}
{% extends 'zombies/profile.html' %}

{% load staticfiles %}

{% block upload_pic %}{% endblock %}

{% block uname %}
    {{ username }}
{% endblock %}

{% block exp_text %}
    {{ username }} has accumulated {{ experience }} experience.
{% endblock %}
{% block no_exp_text %}
    {{ username }} has no experience yet.
{% endblock %}

{% block stories_text %}
    {{ username }} has
{% endblock %}
{% block no_stories_text %}
    {{ username }} has
{% endblock %}