<!--IMPORTANT: if you get an error than an endblock cannot be found, try to remove indentation
in that particular place where an error is shown. For some reason, it works for me. If you later
restore the indentation that you had before the error, it still works. No idea why. -Simonas-->

<!--IMPORTANT: when I was testing, it appears that if you comment out blocks with {} and %, they
may still work or arrows will be shown. To write comments inside HTML files extending base template,
use {# <text> #} for single line and {% comment %} <text> {% endcomment %} for multiple lines.
Otherwise, there WILL be errors, eventually. -Simonas-->

<!--
    we now have bootstrap integrated to the webapp please check
    http://www.w3schools.com/bootstrap/default.asp
    http://startbootstrap.com/
    for useful bootstrap examples
-->

<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- bootstraps stuff -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstraps stuff -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/page.css" %}" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	
    <title>Zombies on Campus{% block title %}{% endblock %}</title>
</head>

<body>
<!--This is the main menu of the page.-->
<!--TO DO: additional block for links that may have to be shown in specific pages-->
<!--Also different ways of formatting this with if/else can be used.-->
<!--Didn't want to spend too much time as we aim to have dynamic login.-->
<!--Changed the layout a bit for the menu for more please see http://www.w3schools.com/css/css_navbar.asp-->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header"></div>

        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-header">
                {# Change 'zombies of campus' to picture if needed #}
                <a class="navbar-brand" href="{% url 'home' %}">Zombies on Campus</a>
            </div>
            <ul class="nav navbar-nav  navbar-right">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li>
                        <div class="dropdown-menu-right font_style dropdown_custom">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a>
                            <span class="caret"></span>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li><a href="{% url 'auth_logout' %}?next=/zombies/">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
                <li><a href="{% url 'survivors' %}"><span class="glyphicon glyphicon-tower"></span> Survivors</a></li>
                <li><a href="{% url 'statistics' %}"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
                <li><a href="{% url 'about' %}"><span class="glyphicon glyphicon-education"></span> About</a></li>

            </ul>
        </div>
    </div>
</nav>

 {% block profile %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div id="holder" class="jumbotron">
                <div id="main_content">
                    {% block body %}
                        <p>This is where the main logic and everything else important goes.</p>
                    {% endblock %}
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
