<!--IMPORTANT: if you get an error than an endblock cannot be found, try to remove indentation
in that particular place where an error is shown. For some reason, it works for me. If you later
restore the indentation that you had before the error, it still works. No idea why. -Simonas-->

<!--IMPORTANT: when I was testing, it appears that if you comment out blocks with {} and %, they
may still work or arrows will be shown. To write comments inside HTML files extending base template,
use {# <text> #} for single line and {% comment %} <text> {% endcomment %} for multiple lines.
Otherwise, there WILL be errors, eventually. -Simonas-->

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Zombies on Campus {% block title %}{% endblock %}</title>
        <p>Head: our login goes here? For now they're in body - if needed, cut paste here</p>
    </head>

<!--Delete <hr /> later, now only for visual clarity-->
<hr />

    <body>
        <div>
            {% block body %}
                <p>This is where the main logic and everything else important goes.</p>
            {% endblock %}
        </div>

        <hr />
        <div>
            <p></p>TO DO: logic to check whether the user has logged in or not<br />

<!--TO DO: check if the user has logged in. If so, do not display register/login.-->

            <a href="{% url 'story' %}">Play</a><br />
            <!--Delete the-end later on - should not be accessible to user unless he/she finished the game-->
            <a href="{% url 'the_end' %}">The end test</a> <br />
            <a href="{% url 'register' %}">Register</a><br />
            <a href="{% url 'login' %}">Login</a><br />
            <a href="{% url 'profile' %}">Profile</a><br />
            <a href="{% url 'about' %}">About</a><br />
            <!--TO DO: can we not show a link to a page user is already on?-->
            <a href="{% url 'home' %}"?>Home</a><br />
        </div>

    </body>

</html>