<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- bootstraps stuff -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstraps stuff -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/page.css" %}" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	
    <title>Zombies on Campus{% block title %}{% endblock %}</title>
</head>

<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header"></div>

        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-header">
                {# Change 'zombies of campus' to picture if needed #}
                <a class="navbar-brand" href="{% url 'home' %}">Zombies on Campus</a>
            </div>
            <ul class="nav navbar-nav  navbar-right">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li>
                        <div class="dropdown-menu-right font_style dropdown_custom">
                            <button class="dropdown_custom" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile' %}"> Profile</a></li>
                                <li><a href="{% url 'auth_logout' %}?next=/zombies/">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}

                <li><a href="{% url 'survivors' %}"><span class="glyphicon glyphicon-tower"></span> Survivors</a></li>
                <li><a href="{% url 'statistics' %}"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
                <li><a href="{% url 'about' %}"><span class="glyphicon glyphicon-education"></span> About</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block profile %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div id="holder" class="jumbotron">
                <div id="main_content">
                    {% block body %}
                        <p>This is where the main logic and everything else important goes.</p>
                    {% endblock %}
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
